

:root{
  background-color: #fff;
}

.default-text{
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 200ms ease-in;
}

.default-text:hover{
  color: #333030;
}

.gradient-bg{
  background-image: url("/assets/Gradient_background.png"); 
  background-repeat: no-repeat;
  background-size: 100% 808px;
}

.hero-image{
  background-image: url("/assets/Hero image.png"); 
  background-repeat: no-repeat;
  background-size: cover;
}

/* --------------- FONTS --------------- */
.secondary-font{
  font-family: "Source Serif 4", serif;
}
.primary-font{
  font-family: "Radio Canada Big", sans-serif;
}



@import "tailwindcss";