:root {
  background-color: #fff;
  overflow-x: hidden;
}

.default-text {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 200ms ease-in;
}

.custom-text{
  line-height: 100%;
  letter-spacing: -3%;
}

.default-text:hover {
  color: #333030;
}

.footer-link {
  color: #66640f;
  font-family: "Radio Canada Big", sans-serif;
  font-size: 20px;
  letter-spacing: -3%;
  cursor: pointer;
  line-height: 100%;
  font-weight: 500;
  transition: 300ms;
}

.footer-link:hover {
  color: #5f5e10d7;
}

.copyright {
  color: #66640f;
  font-family: "Source Serif 4", serif;
  font-size: 20px;
}

/* ------ background images -------*/

.gradient-bg {
  background-image: url("/assets/Gradient_background.png");
  background-repeat: no-repeat;
  background-size: 100% 808px;
}

.hero-image {
  background-image: url("/assets/Hero image.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.content-image {
  background-image: url("/assets/Image.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.values-bg {
  background-image: url("/assets/Values-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.man-image {
  background-image: url("/assets/man.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-bg {
  background-image: url("/assets/footer-bg.png");
  background-blend-mode: multiply;
  background-color: #fff546;
}

/* ------------- animations ------------ */

  .appear{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0;
  }

  @keyframes appear{
    from {
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }


/* --------------- FONTS --------------- */
.secondary-font {
  font-family: "Source Serif 4", serif;
}
.primary-font {
  font-family: "Radio Canada Big", sans-serif;
}

@media only screen and (max-width: 600px) {
  .footer-link {
    font-size: 16px;
  }
}
@import "tailwindcss";
